.header {
  width: 100vw;
  height: 100vh;
  background: url("../../assets/images/contact-us/header.png") no-repeat;
  background-size: cover;
  background-position-x: center;

  div {
    height: 100%;
  }

  h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 50px 5px 50px;
    color: white;
    font-size: 4rem;
  }
}

.contact {
  padding: 25px;

  div {
    padding: 15px;
  }

  h3 {
    margin-bottom: 25px;
  }

  i {
    font-size: 2rem;
  }

  p {
    font-family: "Calibri";
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 25px;
  }

  .form-group {
    margin-bottom: 15px;
    padding: 0px;

    #inputEmail {
      width: 95%;
    }

    label {
      font-family: "Calibri";
    }

    textarea {
      resize: none;
    }

    .invalid-feedback {
      padding: 0px;

      p {
        font-size: 0.8rem;
        color: red;
        font-weight: 300;
        margin: 0px;
      }
    }
  }

  input[type="submit"] {
    background-color: #323232 !important;
    border-radius: 0px !important;
    font-family: "Calibri";
  }

  button:hover {
    filter: opacity(0.5);
  }
}

.map {
  padding: 60px;
  margin-bottom: 75px;
}

@media only screen and (max-width: 768px) {
  .contact {
    padding: 5px;

    p {
      font-size: 1rem;
    }

    .form-group {
      #inputEmail {
        width: 100%;
      }
    }
  }

  .map {
    padding: 5px;
  }
}
