<div class="main">
  <section class="first mb-5">
    <img class="w-100" src="../assets/images/about-us/out-of-the-box.jpg" />
  </section>

  <section class="second">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <h1>
          Inspire people to think smarter about their
          <span>neighborhood.</span>
        </h1>
        <p class="skyblue">Collaborative Spirit</p>
      </div>
      <div class="col-md-6 p-0">
        <p>
          We are community-based advertising agency specialized in out of home
          media. <br /><br />We have a passion to encourage people to look at
          public space as a shared canvas that can be colored by us all. We
          create idea to make use of a variety of neglected spaces, launching
          them into places that are more useful, more productive and more fun!
        </p>
      </div>
    </div>
  </section>

  <section class="mission">
    <div class="d-flex flex-row p-5 align-items-center flex-wrap">
      <div class="col-md-2 d-flex justify-content-center">
        <img class="w-100" src="../assets/images/icon.png" />
      </div>
      <div class="col-md-10">
        <p>
          <b>Our Mission</b><br /><br />We contribute to the development and
          growth of both the clients and society through advertising.
        </p>
      </div>
    </div>
  </section>

  <section class="fourth">
    <img class="w-100" src="../assets/images/about-us/crossing.jpg" />
  </section>

  <section class="fifth">
    <div class="d-flex flex-row flex-wrap pt-5 pb-5">
      <div class="col-md-6 p-0">
        <h1>
          Break the straight barrier between public space and brand promotion.
        </h1>
        <p>
          We believe out of home media can serve as useful elements for urban
          living that turning public & private space into collectively created
          spaces for community provides solutions making the city and people
          more connected and intelligent!!
          <!-- <span>Good signage sparks action.</span> -->
        </p>
      </div>
      <div class="col-md-6 p-0">
        <div class="d-flex flex-row flex-wrap justify-content-between p-5">
          <div class="col-md-6 p-3">
            <div class="box spark-red-bg white">
              <i class="fas fa-lightbulb mr-2"></i>Concept
            </div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-cogs mr-2"></i>Creation</div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-images mr-2"></i>Content</div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-tools mr-2"></i>Installation</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fourSquare">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <img class="w-100" src="../assets/images/about-us/steps.jpg" />
      </div>
      <div class="col-md-6 p-5 iron-black-bg white">
        <h3 class="mb-4">Beyond Frame!</h3>
        <p>
          We provide clever series of OOH provides which are being used to serve
          as useful elements for urban living. <br /><br />We are
          forward-thinking and imaginative in finding unique and dynamic
          solutions for both the clients and the community.
        </p>
        <!-- <p>
          We provide clever series of billboard provides which are being used to
          serve as useful elements for urban living.<br /><br />We have a
          history of delivering results and take pride in being ahead of the
          curve in every aspect, big or small.<br /><br />And though we are
          forward-thinking and imaginative in finding unique and dynamic
          solutions, we respect authority fully and adhere to a strict code of
          ethics.
        </p> -->
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <img class="w-100" src="../assets/images/about-us/lightbox.jpg" />
      </div>
      <div class="col-md-6 p-5 skyblue-bg white">
        <h3 class="mb-4">Let's Collaborate!</h3>
        <p>
          We are very approachable and love collaborating!<br /><br />We come up
          with a series of community collaborations that allow brands & artists
          to reach out to people in a casual way.
        </p>
        <!-- <p>
          We come up with a series of community collaborations allows brands &
          artists to reach out to people in a causal way.<br /><br />We’ve built
          a culture around excelling in our field and giving our clients the
          results they’ve come to expect. As such, we strive to be as prominent
          and eye-catching as possible to anyone and everyone outside their
          homes.
        </p> -->
      </div>
    </div>
  </section>

  <section class="clients">
    <div class="d-flex flex-row flex-wrap">
      <!-- <div class="col-md-4 p-0">
        <h1>Our Clients</h1>
        <p>
          Lazada, Motolite, Unilever, Racks, Pepsi, Kidzoona, Smart, Magnolia,
          Cebu Pacific, Coca Cola, P&G, Asia Brewery Inc., NutriAsia, Universal
          Robina, Monde Nissin, McDonalds, San Miguel Corporation, Army Navy,
          Sky, Globe, Del Monte, Emperador Inc., Mondelez International,
          ABS-CBN, LBC, Johnson & Johnson, City of Dreams, Honda, JTI, Jolibee,
          IBM, Sun, Pawnhero and FWD
        </p>
      </div> -->
      <div
        class="col-md-12 d-flex flex-row justify-content-center align-items-center mb-3"
      >
        <h1>Our Clients</h1>
      </div>
      <div
        class="col-md-12 d-flex flex-row flex-wrap justify-content-center align-items-center"
      >
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/ABS-CBN.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Army Navy.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Asia Brewery.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Cebu Pacific.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Coca Cola.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/COD.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Del Monte.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Emperador.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/FWD.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Globe.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Honda.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/IBM.png" />
        </div>
        <div class="logo">
          <img
            class="w-100"
            src="../assets/images/clients/Johnson & Johnson.png"
          />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Jolibee.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/JTI.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Kidzoona.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Lazada.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/LBC.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Magnolia.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/MCDO.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Monde Nissin.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Mondelez.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Motolite.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Nutriasia.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/P & G.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Pawnhero.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Pepsi.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/PLDT.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Racks.png" />
        </div>
        <div class="logo">
          <img
            class="w-100"
            src="../assets/images/clients/San Miguel Corp.png"
          />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Sky.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/smart.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/SUN.png" />
        </div>
        <div class="logo">
          <img class="w-100" src="../assets/images/clients/Unilever.png" />
        </div>
        <div class="logo">
          <img
            class="w-100"
            src="../assets/images/clients/Universal Robina.png"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="team">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <h1 class="mb-5">Meet Our Team</h1>
      <div class="w-100 d-flex flex-row flex-wrap justify-content-center">
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>CEO/President</h6>
        </div>
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Chief Operating Officer (COO)</h6>
        </div>
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Chief Financial Officer (CFO)</h6>
        </div>
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Vice President for Marketing</h6>
        </div>
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Digital General Manager</h6>
        </div>
        <div
          class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5"
        >
          <img class="w-75 mb-3" src="../assets/images/team/chin.png" />
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Janitress</h6>
        </div>
      </div>
    </div>
  </section> -->
</div>
