<div class="main">
  <section class="first mb-5">
    <img class="w-100" src="../assets/images/about-us/lusis.png">
  </section>

  <section class="second">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <h1>It begins with<br /> a single <span>spark.</span></h1>
        <p class="skyblue">When worlds collide</p>
      </div>
      <div class="col-md-6 p-0">
        <p>We are very approachable and love collaborating with clients to give them the most impact possible for their
          product.<br /><br />We have a history of delivering results and take pride in being ahead of the curve in
          every aspect, big or small. And though we are forward-thinking and imaginative in finding unique and dynamic
          solutions, we respect authority fully and adhere to a strict code of ethics.</p>
      </div>
    </div>
  </section>

  <section class="third">
    <div class="d-flex flex-row p-5 align-items-center flex-wrap">
      <div class="col-md-1 d-flex justify-content-center">
        <img class="w-100" src="../assets/images/icon.png">
      </div>
      <div class="col-md-11">
        <p>We contribute to the development and growth of both the clients and society through advertising.</p>
      </div>
    </div>
  </section>

  <section class="fourth">
    <img class="w-100" src="../assets/images/about-us/working.png">
  </section>

  <section class="fifth">
    <div class="d-flex flex-row flex-wrap pt-5 pb-5">
      <div class="col-md-6 p-0">
        <h1>Our Services</h1>
        <p>Signage is meant to elicit a reaction. It is meant to resonate, stimulate, question, or acknowledge meaning
          to its intended audience. Good signage doesn’t result in silence. <span>Good signage sparks action.</span></p>
      </div>
      <div class="col-md-6 p-0">
        <div class="d-flex flex-row flex-wrap justify-content-between p-5">
          <div class="col-md-6 p-3">
            <div class="box spark-red-bg white"><i class="fas fa-camera mr-2"></i>Snap</div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-search mr-2"></i>Search</div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-shopping-cart mr-2"></i>Shop</div>
          </div>
          <div class="col-md-6 p-3">
            <div class="box"><i class="fas fa-share mr-2"></i>Share</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sixth">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <img class="w-100" src="../assets/images/about-us/car.png">
      </div>
      <div class="col-md-6 p-5 iron-black-bg white">
        <h3 class="mb-4">Our Values</h3>
        <p>We are very approachable and love collaborating with clients to give them the most impact possible for their
          product.<br /><br />We have a history of delivering results and take pride in being ahead of the curve in
          every aspect, big or small.<br /><br />And though we are forward-thinking and imaginative in finding unique
          and dynamic solutions, we respect authority fully and adhere to a strict code of ethics. </p>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap">
      <div class="col-md-6 p-0">
        <img class="w-100" src="../assets/images/about-us/station.png">
      </div>
      <div class="col-md-6 p-5 skyblue-bg white">
        <h3 class="mb-4">Our Methodology</h3>
        <p>We are respectful of the rules of society and are strict in complying with the processes and laws. Though we
          are friendly and inclusive of everyone, we are no pushovers. <br /><br />We’ve built a culture around
          excelling in our field and giving our clients the results they’ve come to expect. As such, we strive to be as
          prominent and eye-catching as possible to anyone and everyone outside their homes.</p>
      </div>
    </div>
  </section>

  <section class="seventh">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <h1 class="mb-5">Meet Our Team</h1>
      <div class="w-100 d-flex flex-row flex-wrap justify-content-center">
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>CEO/President</h6>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Chief Operating Officer (COO)</h6>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Chief Financial Officer (CFO)</h6>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Vice President for Marketing</h6>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Digital General Manager</h6>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-center justify-content-center mb-5">
          <img class="w-75 mb-3" src="../assets/images/team/chin.png">
          <h4 class="mb-0">Gretchen Villacastin</h4>
          <h6>Janitress</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="eighth">
    <div class="d-flex flex-row align-items-center flex-wrap">
      <div class="col-md-4 p-0">
        <h1>Our Clients</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
          facilisis. </p>
      </div>
      <div class="col-md-8 p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
        <div class="col-md-3 mb-4">
          <img class="w-100" src="../assets/images/clients/smart.png">
        </div>
      </div>
    </div>
  </section>
</div>