<nav class="navbar navbar-expand-md fixed-top navbar-light p-4">
  <div class="container-fluid ml-2 mr-2">
    <a class="navbar-brand animated pulse" href="#">
      <img src="../assets/images/logo.png" height="25" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item ml-3"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLink="/home">HOME </a>
        </li>
        <li
          class="nav-item ml-3"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLink="/about">ABOUT </a>
        </li>
        <li
          class="nav-item ml-3"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLink="/projects">PROJECTS </a>
        </li>
        <li
          class="nav-item ml-3"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLink="/happenings">HAPPENINGS </a>
        </li>
        <li
          class="nav-item ml-3"
          routerLinkActive="active"
          data-toggle="collapse"
          data-target=".navbar-collapse.show"
        >
          <a class="nav-link" routerLink="/connect">CONNECT </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<section class="footer">
  <div class="footer-body">
    <div class="d-flex flex-wrap">
      <div class="col-md-8 mb-5">
        <img
          class="mb-4"
          src="../assets/images/logo-white.png"
          height="30"
          alt=""
        />
        <br />
        <!-- <p>74 Don A. Roces Ave. cor. Sct. Santiago St.,</p>
        <p>Brgy. Obrero, Quezon City 1103,</p>
        <p>Philippines</p> -->
        <p>gp-nagata.ph</p>
        <p>(+632) 358-4561</p>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center">
        <div class="d-flex flex-row align-self-end mb-5">
          <span class="social-icon-label d-flex align-items-center">
            <span>FOLLOW US</span>
          </span>
          <span class="social-icon">
            <a
              href="https://facebook.com/GP-Nagata-107912507228368/"
              target="_blank"
              ><i class="fab fa-facebook-square"></i
            ></a>
          </span>
          <span class="social-icon">
            <a href="https://www.instagram.com/gpnagata/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </span>
        </div>
        <div class="align-self-end">
          <p>&copy; Copyright 2020 GP-Nagata Inc.</p>
        </div>
      </div>
    </div>
  </div>
</section>
