<section class="main">
  <div class="main-title d-flex flex-row justify-content-center">
    <h1>Our Products and Services</h1>
  </div>
  <div class="main-body d-flex flex-row flex-wrap">
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Public Market</h2>
          <p>Header</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/public-market.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Building</h2>
          <p>Wall Ad</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/building.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Billboard</h2>
          <p></p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/billboard.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Boracay</h2>
          <p>Merchandise</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/boracay.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Hospitals</h2>
          <p></p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/hospitals.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Taxi</h2>
          <p>Ads</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/taxi.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Lamp Post</h2>
          <p>Banner</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/lamp-post.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Jeepney</h2>
          <p>Toploads</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/jeepney.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Footbridge</h2>
          <p>Banner</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/footbridge.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Waiting Sheds</h2>
          <p></p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/shed.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Tricycle</h2>
          <p>Ads</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/tricycle.png">
    </div>
    <div class="col-md-3 item">
      <div class="overlay">
        <div class="text d-flex flex-column justify-content-center align-items-center flex-wrap">
          <h2>Bus Terminal</h2>
          <p>Header</p>
        </div>
      </div>
      <img class="w-100" src="../assets/images/product-and-services/bus.png">
    </div>
  </div>
</section>