.main {
  margin-top: 75px;
  margin-bottom: 75px;
}

.main-title {
  padding: 50px;
  
  h1 {
    font-size: 4rem;
  }
}

.main-body .item {
  padding: 0px !important;
}

.main-body .item .overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.main-body .item .text{
  width: 100%;
  height: 100%;
  color: white;
}

.main-body .item .text h2{ 
  margin: 0;
}

.main-body .item .text p{ 
  font-weight: 200;
  font-size: 1.5rem;
}

.main-body .item:hover .overlay {
  display: block;
}

@media only screen and (max-width: 768px) {
  .main-title h1{
    font-size: 3rem;
    text-align: center;
  }
}