<div class="main">
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <section class="col-md-5 details">
      <div class="body">
        <div class="text">
          <h1>
            Public Market
          </h1>
          <p>
            Typi non habent claritatem insitam; est usus legentis in iis qui
            facit eorum claritatem. Investigationes demonstraverunt lectores
            legere me lius quod ii legunt saepius. Claritas est etiam processus
            dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
            notare quam littera gothica, quam nunc putamus parum claram,
            anteposuerit litterarum formas humanitatis per seacula quarta decima
            et quinta decima. Eodem modo typi, qui nunc nobis videntur parum
            clari, fiant sollemnes in futurum.
          </p>
          <label>Client</label>
          <p class="sparkred">Brand & Co</p>
          <label>Date</label>
          <p class="sparkred">April 14, 2020</p>
          <label>Category</label>
          <p class="sparkred">Banner, Header</p>
        </div>
      </div>
    </section>
    <section class="col-md-7 photos">
      <div class="body">
        <div
          class="col-md-12 photos d-flex flex-row flex-wrap justify-content-around"
        >
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_01.jpg"
            />
          </div>
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_02.jpg"
            />
          </div>
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_03.jpg"
            />
          </div>
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_04.jpg"
            />
          </div>
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_05.jpg"
            />
          </div>
          <div class="col-md-6 mb-4">
            <img
              class="w-100"
              src="../../assets/images/product-and-services/Public Market/image_06.jpg"
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
