<div class="main">
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <section class="col-md-9 blog">
      <div class="body">
        <div class="image col-md-12">
          <img
            class="w-100"
            src="../../assets//images/happenings/The Start of the GP-Nagata Collaboration/image01.jpg"
          />
        </div>
        <div class="text">
          <label>August 19, 2020</label>
          <h1>
            Game Plan Marketing Solutions, Inc. (GPMSI) and
            <a href="https://ad-nagata.com/en/" target="_blank"
              >Advertising Nagata Co., Ltd. (AD Nagata)</a
            >
            announced the start of the GP-Nagata collaboration during their
            grand launch held at the Shangri-La at the Fort Manila last August
            19.
          </h1>
          <p>
            Philippines-based firm Game Plan Marketing Solutions, Inc.(GPMSI)
            has forged a partnership with
            <a href="https://ad-nagata.com/en/" target="_blank">AD Nagata</a>,
            one of the oldest advertising companies in Japan, in order to “shape
            the advertising media” in the country.<br /><br />As part of the
            partnership, GP-Nagata, the partnership’s joint venture firm, shall
            provide consultancy services and technical support to GPMSI as it
            aggressively grows its out-of-home (OOH) advertising business.<br /><br /><a
              href="https://ad-nagata.com/en/"
              target="_blank"
              >AD Nagata</a
            >, also known for its Corporate Social Responsibility (CSR)
            initiatives, will bring in these efforts to benefit Filipinos. This
            includes collaborating with government agencies and offices by
            providing well-kept and secured public spaces such as waiting sheds,
            toilets, smoking areas, tunnels, pedestrian under/overpasses.<br /><br />In
            the Philippines, GPMSI has grown its reach since 2006 within the OOH
            advertising industry. It currently handles over 10,000 locations
            nationwide, with 75 local government unit (LGU) partners. GP is
            especially known for non-traditional, small format, out-of-the-box
            executions.<br /><br />Meanwhile,
            <a href="https://ad-nagata.com/en/" target="_blank">AD Nagata</a>
            specializes in OOH advertising, with a 30,000-strong list of clients
            and 35,000 advertising spaces in Japan, making it the biggest Asian
            OOH company.
            <a href="https://ad-nagata.com/en/" target="_blank">AD Nagata</a>
            was established in Tsushima, Japan in 1963.<br /><br />Moving
            forward, GP-Nagata intends to provide unparalleled creative inputs,
            strategic support, and technical know-how to attain industry-leading
            execution quality of billboards, large and small format advertising,
            and further increase GPMSI’s dominance in public-market executions,
            as well as other community-based endeavors.
          </p>
          <h1>Photos:</h1>
          <div
            class="col-md-12 photos d-flex flex-row flex-wrap justify-content-around"
          >
            <div class="col-md-4 mb-3">
              <img
                class="w-100"
                src="../../assets/images/happenings/The Start of the GP-Nagata Collaboration/image02.jpg"
              />
            </div>
            <div class="col-md-4 mb-3">
              <img
                class="w-100"
                src="../../assets/images/happenings/The Start of the GP-Nagata Collaboration/image03.jpg"
              />
            </div>
            <div class="col-md-4 mb-3">
              <img
                class="w-100"
                src="../../assets/images/happenings/The Start of the GP-Nagata Collaboration/image04.jpg"
              />
            </div>
            <div class="col-md-4 mb-3">
              <img
                class="w-100"
                src="../../assets/images/happenings/The Start of the GP-Nagata Collaboration/image05.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="col-md-3 recent-blogs">
      <div class="body">
        <h1>Recent Happenings</h1>
        <div class="blogs d-flex flex-column">
          <a routerLink="/happenings/The Start of the GP-Nagata Collaboration">
            <div class="col-md-12 item">
              <h3>The Start of the GP-Nagata Collaboration</h3>
              <label>August 19, 2019</label>
            </div>
          </a>
          <!-- <a routerLink="/happenings">
            <div class="col-md-12 item">
              <h3>Designing a Successful Checkout Process</h3>
              <label>April 6, 2020</label>
            </div>
          </a> -->
        </div>
      </div>
    </section>
  </div>
</div>
