<div class="main">
  <div
    class="body d-flex flex-column justify-content-center align-items-center"
  >
    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img
            class="w-100"
            src="../assets/images/happenings/the-start-of-the-gp-nagata-colloboration_thumbnail.jpg"
          />
        </div>
        <div class="col-md-8 text">
          <label>August 19, 2019</label>
          <h1>The Start of the GP-Nagata Collaboration</h1>
          <p>
            Game Plan Marketing Solutions, Inc. (GPMSI) and Advertising Nagata
            Co., Ltd. (AD Nagata) announced the start of the GP-Nagata
            collaboration during their grand launch held at the Shangri-La at
            the Fort Manila last August 19.
          </p>
          <a
            class="justify-content-end"
            routerLink="/happenings/The Start of the GP-Nagata Collaboration"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <!-- <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/one.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/two.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/three.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/four.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/five.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="body d-flex flex-row flex-wrap align-items-stretch">
        <div class="col-md-4 p-0 image">
          <img class="w-100" src="../assets/images/happenings/seven.jpg" />
        </div>
        <div class="col-md-8 text">
          <label>Happening / April 6, 2020 / By Taro Hori</label>
          <h1>Designing a Successful Checkout Process</h1>
          <p>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test. Override the digital divide with additional
            clickthrough from DevOps. Nanotechnology immersion along information
            highway...
          </p>
          <a class="justify-content-end" routerLink="/happenings"
            ><button
              type="button"
              class="btn btn-outline-secondary w-25 read-btn"
            >
              Read More
            </button></a
          >
        </div>
      </div>
    </section> -->
  </div>
</div>
