$sparkred: #eb2145;
$steelgrey: #f1f1f1;
$skyblue: #00aff0;

.home {
  .carousel {
    height: 100vh;

    .carousel-inner {
      .carousel-item {
        .item-1 {
          width: 100%;
          height: 100vh;
          background: url("../../assets/images/home/GPN Web Images 01.jpg")
            no-repeat;
          background-size: cover;
          background-position: center;
          background-position-y: 100%;
          padding: 15px 25px 70px 25px;

          .body {
            height: 100%;
            margin-bottom: 25px;

            .content {
              width: 40%;
              text-align: left;

              h1 {
                color: black;
                font-size: 3rem;
              }

              h3 {
                color: white;
                margin-bottom: 50px;
              }

              button {
                width: 50%;
                padding: 10px;
                background-color: $sparkred;
                border: 1px solid $sparkred;
                border-radius: 0;
                color: white;
                position: relative;
              }
            }
          }
        }

        .item-2 {
          width: 100%;
          height: 100vh;
          background: url("../../assets/images/home/GP Nagata Web Covid.jpg")
            no-repeat;
          background-size: cover;
          background-position: center;
          background-position-y: 100%;
          padding: 15px 25px 70px 25px;

          .body {
            height: 100%;
            margin-bottom: 25px;

            .content {
              width: 100%;
              text-align: left;

              img {
                width: 7.5%;
                margin-bottom: 15px;
              }

              h1 {
                color: white;
                font-size: 4.5rem;
                margin-bottom: 0px;
              }

              h3 {
                margin-top: 25px;
                color: $skyblue;
                margin-bottom: 50px;
                font-size: 3rem;
              }
            }
          }
        }
      }
    }
  }
}

// .home {
//   width: 100%;
//   height: 100vh;
//   background: url("../../assets/images/home/GPN Web Images 01.jpg") no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-position-y: 100%;
//   padding: 15px 25px 70px 25px;

//   .home-body {
//     height: 100%;
//     margin-bottom: 25px;

//     .content {
//       width: 40%;
//       text-align: left;

//       h1 {
//         color: black;
//         font-size: 3rem;
//       }

//       h3 {
//         color: white;
//         margin-bottom: 50px;
//       }

//       button {
//         width: 50%;
//         padding: 10px;
//         background-color: $sparkred;
//         border: 1px solid $sparkred;
//         border-radius: 0;
//         color: white;
//         position: relative;
//       }
//     }
//   }
// }

.about {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.projects {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.aircast {
  background-color: $steelgrey;

  .aircast-body h1 {
    font-size: 3.5rem;
  }

  .aircast-body h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.happenings {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.ig {
  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .carousel {
      .carousel-inner {
        .carousel-item {
          .item-1 {
            background-position-x: 40%;
            .body {
              .content {
                width: 100%;

                h1 {
                  font-size: 2.5rem;
                }

                h3 {
                  margin-bottom: 50px;
                }
              }
            }
          }

          .item-2 {
            .body {
              align-items: center !important;

              .content {
                width: 100%;

                img {
                  width: 15%;
                }

                h1 {
                  font-size: 2rem;
                }

                h3 {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .about {
    .about-body {
      flex-direction: row-reverse;

      .body-text {
        order: 1;
      }

      .body-image {
        order: 0;
      }

      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .projects {
    .projects-body {
      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .aircast {
    .aircast-body {
      flex-direction: row-reverse;

      .body-text {
        order: 1;
      }

      .body-image {
        order: 0;
      }

      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .happenings {
    .happenings-body {
      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .ig {
    h1 {
      font-size: 2.5rem;
    }

    h3 {
      color: $sparkred;
      font-weight: 200;
    }
  }
}
