$sparkred: #eb2145;
$steelgrey: #f1f1f1;
$skyblue: #00aff0;

.home {
  width: 100%;
  height: 100vh;
  background: url("../../assets/images/home/GPN Web Images 01.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px 25px 70px 25px;

  .home-body {
    height: 100%;
    margin-bottom: 25px;

    .content {
      width: 40%;
      text-align: left;

      h1 {
        color: black;
        font-size: 3rem;
      }

      h3 {
        color: white;
        margin-bottom: 50px;
      }

      button {
        width: 50%;
        padding: 10px;
        background-color: $sparkred;
        border: 1px solid $sparkred;
        border-radius: 0;
        color: white;
        position: relative;
      }
    }
  }
}

.about {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.projects {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.aircast {
  background-color: $steelgrey;

  .aircast-body h1 {
    font-size: 3.5rem;
  }

  .aircast-body h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.happenings {
  background-color: $steelgrey;

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
    margin-bottom: 25px;
  }

  button {
    border-radius: 0px !important;
    font-weight: 300 !important;
  }
}

.ig {
  h1 {
    font-size: 3.5rem;
  }

  h3 {
    color: $sparkred;
    font-weight: 200;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    background-position-x: 50%;

    .home-body {
      .content {
        width: 100%;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  .about {
    .about-body {
      flex-direction: row-reverse;

      .body-text {
        order: 1;
      }

      .body-image {
        order: 0;
      }

      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .projects {
    .projects-body {
      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .aircast {
    .aircast-body {
      flex-direction: row-reverse;

      .body-text {
        order: 1;
      }

      .body-image {
        order: 0;
      }

      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .happenings {
    .happenings-body {
      h1 {
        font-size: 2.5rem;
      }

      button {
        width: 50% !important;
      }
    }
  }

  .ig {
    h1 {
      font-size: 2.5rem;
    }

    h3 {
      color: $sparkred;
      font-weight: 200;
    }
  }
}
