<section id="home" class="home">
  <div class="container home-body d-flex flex-column flex-wrap justify-content-center align-items-center text-center">
    <h3>We Spark Action</h3>
    <h1><b>Igniting</b> possibilities as we <br /><b>collaborate</b> to get any message across.</h1>
  </div>
</section>

<section id="about" class="about">
  <div class="col-md-12 about-body d-flex flex-row flex-wrap p-0">
    <div class="col-md-6 body-text d-flex flex-column justify-content-center p-5">
      <h1>It begins with a <br />single spark.</h1>
      <h3>When world collides</h3>
      <button type="button" class="btn btn-outline-secondary w-25 read-btn">Read</button>
    </div>
    <div class="col-md-6 body-image p-0">
      <img class="w-100" src="../assets/images/home/spark.png">
    </div>
  </div>
</section>

<section id="blog" class="blog">
  <div class="col-md-12 blog-body d-flex flex-row flex-wrap p-0">
    <div class="col-md-6 body-image p-0">
      <img class="w-100" src="../assets/images/home/bicycle.png">
    </div>
    <div class="col-md-6 body-text d-flex flex-column justify-content-center p-5">
      <h1>All it takes is<br />one spark.</h1>
      <h3>Ignite the possibilities</h3>
      <button type="button" class="btn btn-outline-secondary w-25 read-btn">Read</button>
    </div>
  </div>
</section>

<section id="aircast" class="aircast">
  <div class="col-md-12 aircast-body d-flex flex-row flex-wrap p-0">
    <div class="col-md-6 body-text d-flex flex-column justify-content-center p-5">
      <h1>Two cultures <br />coming together.</h1>
      <h3>We Spark Action</h3>
      <button type="button" class="btn btn-outline-secondary w-25 read-btn">Read</button>
    </div>
    <div class="col-md-6 body-image p-0">
      <img class="w-100" src="../assets/images/home/plane.png">
    </div>
  </div>
</section>

<section id="ig-post" class="ig">
  <div class="col-md-12 ig-body d-flex flex-row flex-wrap justify-content-center p-5">
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/train.png">
    </div>
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/crossing.png">
    </div>
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/waiting-shed.png">
    </div>
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/spark.png">
    </div>
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/bicycle.png">
    </div>
    <div class="col-sm-6 col-md-3 mb-4">
      <img class="w-100" src="../assets/images/home/plane.png">
    </div>
  </div>
</section>